// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


$colors: (
  primary:    #ed6464,
  secondary:  #f53d3d,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222
);

$toolbar-md-background: color($colors, secondary);

$tabs-md-background: color($colors, secondary);
$tabs-md-tab-text-color: color($colors, light);

$tabs-md-tab-color-active: color($colors, light);
$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);



@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
